<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Siemens.Engineering" publicKeyToken="d29ec89bac048f84" culture="neutral" />
        <codeBase version="18.0.0.0" href="file:///C:/Program Files/Siemens/Automation/Portal V18/PublicAPI/V18/Siemens.Engineering.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Siemens.Engineering.Base" publicKeyToken="29bfe5fdf4ba5d3b" culture="neutral" />
        <codeBase version="21.0.0.0" href="file:///C:/Program Files/Siemens/Automation/Portal V21/PublicAPI/V21/net48/Siemens.Engineering.Base.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Siemens.Engineering.Step7" publicKeyToken="29bfe5fdf4ba5d3b" culture="neutral" />
        <codeBase version="21.0.0.0" href="file:///C:/Program Files/Siemens/Automation/Portal V21/PublicAPI/V21/net48/Siemens.Engineering.Step7.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
